@import "tailwindcss";

@layer components{
    html { scroll-behavior: smooth; }
    @keyframes pulseHighlight {
        0% { box-shadow: 0 0 0 rgba(236, 72, 153, 0); }
        50% { box-shadow: 0 0 25px rgba(236, 72, 153, 0.4); }
        100% { box-shadow: 0 0 0 rgba(236, 72, 153, 0); }
    }
    .highlight-next {
        animation: pulseHighlight 1s ease-out;
    }
}